.header {
    text-align: center;
    padding: 25px;
    background: lightblue;
}

iframe {
    width: 560px;
    height: 315px;
    
}

.rickimg {
    height: 200px;
}

.images {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.left {
    width: 20%;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    border: 40px solid lightgray;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pDonate {
    width: 100%;
}

.right {
    text-align: center;
    width: 80%;
    padding: 20px;
    margin: 20px;
}

footer {
    padding: 40px;
    background: darkgray;
    text-align: center;
}